<!doctype html>
<html lang="en" ng-app="radiator">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Nick Vanderhoven">
  <title>radiator</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-reset.css" rel="stylesheet">
  <link href="css/font-awesome.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet"/>
  <link href="css/radiator.css" rel="stylesheet"/>
</head>
<body>

<section id="container">

  <div ng-controller="RadiatorController" data-ng-init="startFetching()">
  	
      <div class="row">
    	  <div class="col-lg-2 col-sm-2">&nbsp;</div>
        <div ng-repeat="stage in stages" class="col-lg-4 col-sm-4 text-center"><h1>{{stage}}</h1></div>
      </div>
      
      <div class="header-horizontal-separator"></div>
      
      <div ng-repeat="pipeline in pipelines" class="row state-overview">
        	<div class="col-lg-2 col-sm-2 text-center vertical-center"><h1>{{pipeline.title}}</h1></div>
        	<div ng-repeat="stage in stages" class="col-lg-4 col-sm-4">
        		<div ng-repeat="job in pipeline.jobs[stage]">
              <section class="panel">
                <div ng-if="successful(job)" class="symbol terques"><i class="fa fa-thumbs-up"></i></div>
                <div ng-if="!successful(job)" class="symbol red"><i class="fa fa-medkit"></i></div>
                <div class="value"><span class="count"><h1>{{job.displayName}}<h1></span>

                <div ng-if="hasToShowStatistics(job) &amp;&amp; !job.building" class="detail">{{job.failCount}} fail &middot; {{job.skipCount}} ignore</div>

                <div ng-if="job.building" class="progress progress-striped active progress-sm" style="width:95%; margin-top:15px;">
                    <div class="progress-bar" ng-class="progressclass(job)" role="progressbar" aria-valuenow="{{job.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{job.progress}}%">
                        <span class="sr-only">{{job.progress}}% Complete</span>
                    </div>
                </div>

              </section>
            </div>
        	</div>
          
          <div class="horizontal-separator"></div>

      </div>

  </div>

</section/>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/radiator/radiator.js"></script>
<script src="js/radiator/controller.js"></script>
<script src="js/radiator/functions.js"></script>

</body>
</html>
